@use "./partials/global" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;
@use "./partials/variables" as *;

// hero section
.hero {
  background: url("../assets/images/hero-bio.jpg") 50% 50% / cover; 
  
}

// about us section

.about {
  @include desktop {
    padding-bottom: 1.5rem;
  }
  &__title {
    color: $primary-black-color;
    @include section-title-mobile;
    @include tablet {
      @include section-title-tablet-desktop;
    }
    @include desktop {
      margin-left: 7.5rem;
    }
  }

  &__image-container {
    margin: 0 1rem 0.5rem;
    @include tablet {
      margin: 0 7rem 1rem;
    }
    @include desktop {
      margin: 0 13rem 2rem;
    }
  }
  &__image {
    height: 70vh;
    @include img;
    @include tablet {
      height: 85vh;
    }
    @include desktop {
      height: 90vh;
    }
  }
  &__bold-text {
    @include body-bold-font;
    line-height: 1.125rem;
    font-size: 0.813rem;
    @include tablet {
      margin: 0 7rem;
      line-height: 1.375rem;
      font-size: 0.875rem;
    }
    @include desktop {
      margin: 0 13rem;
    }
  }
}
.band-info {
  &__title {
    @include section-subtitle-mobile;
    @include tablet {
      @include section-subtitle-tablet-desktop;
      margin-left: 7rem;
    }
    @include desktop {
      margin-left: 13rem;
    }
  }
  &__text {
    padding-bottom: 1rem;
    font-size: 0.813rem;
    line-height: 1.125rem;
    @include tablet {
      line-height: 1.375rem;
      font-size: 0.875rem;
      width: 40%;
      padding-bottom: 1.5rem;
    }
    @include desktop {
      width: 45%;
    }
  }
  &__container {
    @include tablet {
      margin: 0 7rem;
      @include flex(space-between, _, row);
    }
    @include desktop {
      margin: 0 13rem;
    }
  }
  &__text-content {
    @include tablet {
      margin: 0;
    }
  }
}

.photo-gallery {
  background-color: $secondary-alabaster-color;
  @include tablet {
    padding-bottom: 1rem;
  }
  @include desktop {
    padding-bottom: 1.5rem;
  }
  &__title {
    @include section-title-mobile;
    @include tablet {
      @include section-title-tablet-desktop;
    }
    @include desktop {
      margin-left: 7.5rem;
    }
  }
  &__container {
    @include flex(_, _, column);
    @extend .about__image-container;
    @include tablet {
      @include flex(space-between, _, row);
      flex-wrap: wrap;
      margin: 0 2.5rem;
    }
    @include desktop {
      @include flex(space-between, _, row);
      flex-wrap: wrap;
      margin: 0 7.5rem;
    }
  }
  &__item {
    margin-bottom: 0.5rem;
    @include tablet {
      width: 32%;
      margin-bottom: 0.5rem;
    }
    @include desktop {
      margin-bottom: 1rem;
    }
  }
  &__image {
    @include img;
  }
}

// comment section

.comments {
  // height: 500vh;

  // height: 50vh;
  padding: 20px;
  &:last-child {
    border-bottom: 2px solid black;
  }
}
.comment {
  display: flex;
  &__placeholder {
    background-color: chocolate;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
  }

  // border: 2px solid black;
  // border-left: none;
  // border-right: none;
  // border-bottom: none;
  // border-collapse: collapse;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  // width:70%;
  margin: 0 20px;
  margin-bottom: 20px;
  &__wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  &__title {
    width: 20%;
  }
  &__date {
    width: 20%;
  }
  &__text {
    width: 100%;
  }
}
