@font-face {
  font-family: "avenir";
  src: url("../assets/font/alternative-files/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/font/alternative-files/AvenirNextLTPro-Bold.woff") format("woff"), url("../assets/font/alternative-files/AvenirNextLTProBold.ttf") format("TrueType");
  font-weight: 700;
}
@font-face {
  font-family: "avenir";
  src: url("../assets/font/alternative-files/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/font/alternative-files/AvenirNextLTPro-Demi.woff") format("woff"), url("../assets/font/alternative-files/AvenirNextLTProDemi.ttf") format("TrueType");
  font-weight: 600;
}
@font-face {
  font-family: "avenir";
  src: url("../assets/font/alternative-files/AvenirNextLTPro.ttf") format("TrueType");
  font-weight: 400;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "avenir", Arial, Helvetica, sans-serif;
  /*fallback fonts for browsers*/
}

h1,
h2,
h3,
p {
  margin: 0 1rem;
}
@media screen and (min-width: 768px) {
  h1,
h2,
h3,
p {
    margin: 0 2.5rem;
  }
}

.header {
  padding-top: 1rem;
  background-color: #323232;
  display: flex;
  justify-content: _;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .header {
    display: flex;
    justify-content: _;
    align-items: _;
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .header__logo {
    width: 7.5rem;
    height: 1.25rem;
    margin-left: 7.5rem;
  }
}
@media screen and (min-width: 768px) {
  .header__logo-image {
    margin-left: 2.5rem;
    margin-right: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .header__logo-image {
    margin-left: 0px;
  }
}
.header__logo-link {
  color: #FFFFFF;
  text-decoration: none;
}
.header__nav {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header__nav {
    width: 33%;
  }
}
@media screen and (min-width: 1280px) {
  .header__nav {
    width: 20%;
  }
}
.header__nav-list {
  margin: 0;
  list-style: none;
  font-weight: 600;
  line-height: 1.375rem;
  font-size: 0.875rem;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
@media screen and (min-width: 768px) {
  .header__nav-list {
    line-height: 2rem;
    font-size: 1.5rem;
  }
}
.header__nav-link {
  display: block;
  width: 50%;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  color: #E1E1E1;
}
.header__nav-link:hover {
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .header__nav-link {
    width: auto;
    padding: 1rem 0;
    font-size: 0.875rem;
  }
}
.header__nav--active, .header__nav-link:hover {
  font-weight: 700;
  color: #FFFFFF;
  border-bottom: 3px solid white;
  -webkit-text-decoration-color: #FFFFFF;
          text-decoration-color: #FFFFFF;
}

.hero {
  display: flex;
  height: 40vh;
  position: relative;
  background: url("../assets/images/hero-shows.jpg") 50% 50%/cover;
  /* to fit and center the background image on section*/
  background-repeat: no-repeat;
  display: flex;
  justify-content: _;
  align-items: center;
  flex-direction: _;
}
.hero__color-overlay {
  width: 100%;
  /*create equal div for color overlay*/
  height: 100%;
  background: #323232;
  opacity: 0.5;
  position: absolute;
  /*to position the div exactly on top */
  top: 0;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 65vh;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 80vh;
  }
}
.hero__title {
  line-height: 2rem;
  position: relative;
  font-weight: 700;
  font-size: 1.5rem;
  color: #FFFFFF;
  z-index: 1;
  margin: 0 1rem;
}
@media screen and (min-width: 768px) {
  .hero__title {
    line-height: 2.75rem;
    font-size: 3.8rem;
    margin: 0 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    margin: 0 7.5rem;
  }
}

.footer {
  padding-top: 1rem;
  background-color: #323232;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding-top: 2rem;
  }
}
.footer__title {
  font-weight: 400;
  line-height: 1.125rem;
  font-size: 0.813rem;
  font-size: 20px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .footer__title {
    font-weight: 400;
    line-height: 1.25rem;
    font-size: 0.875rem;
    font-size: 2.2rem;
    font-weight: 600;
    margin-right: 0px;
    width: 230px;
  }
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: _;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .footer__wrapper {
    width: 100%;
    margin: 0 80px;
  }
}
.footer__icon-container {
  width: 25%;
  margin: 1rem 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: _;
  flex-direction: row;
}
@media screen and (min-width: 768px) {
  .footer__icon-container {
    width: 230px;
    justify-content: flex-start;
    margin: 1rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .footer__icon-container {
    width: 25%;
    margin-left: 2rem;
  }
}
.footer__icon-image {
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  .footer__icon-image {
    margin-right: 30px;
    height: 22px;
    margin-left: 0;
  }
}
.footer__contacts-container {
  display: flex;
  justify-content: space-between;
  align-items: _;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__contacts-container {
    display: flex;
    justify-content: flex-start;
    align-items: _;
    flex-direction: row;
    width: 100%;
    margin-top: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__contacts-container {
    width: 60%;
    margin: 1.5rem 80px 0;
    gap: 2rem;
  }
}
.footer__contact {
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .footer__contact:first-child {
    margin-left: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__contact {
    margin-bottom: 1rem;
  }
}
.footer__contact-text {
  margin-bottom: 1rem;
  font-weight: 400;
  line-height: 1.125rem;
  font-size: 0.813rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .footer__contact-text {
    width: 230px;
    margin: 0 0 1.5rem;
  }
}
.footer__copyright {
  font-size: 13px;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    font-weight: 400;
    line-height: 1.25rem;
    font-size: 0.875rem;
    margin-top: 0.5rem;
    font-weight: 600;
    padding-bottom: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__copyright {
    padding-bottom: 2rem;
    margin-top: 0;
    margin-left: 7.5rem;
  }
}
.footer__logo-top {
  visibility: hidden;
}
@media screen and (min-width: 768px) {
  .footer__logo-top {
    visibility: visible;
    margin-left: auto;
    margin-right: 40px;
  }
}
@media screen and (min-width: 768px) {
  .footer__logo-top-img {
    height: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo-top-img {
    margin-right: 160px;
  }
}
.footer__logo-bottom {
  margin-left: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__logo-bottom {
    visibility: hidden;
  }
}
.footer__logo {
  width: 5rem;
  height: auto;
}

.hero {
  display: block;
  height: 30vh;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 45vh;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    display: flex;
    justify-content: initial;
    align-items: center;
    flex-direction: initial;
    height: 50vh;
  }
}
.hero__title {
  font-weight: 600;
  color: #FAFAFA;
  font-size: 1rem;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding: 3rem 0 1.5rem;
    margin-left: 2.5rem;
    font-size: 1.563rem;
    font-weight: 600;
    margin-left: 2.5rem;
    margin-top: 0;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    padding: 0;
    margin-bottom: 0;
  }
}
.hero__subtitle {
  z-index: 1;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 1.563rem;
}
@media screen and (min-width: 768px) {
  .hero__subtitle {
    font-weight: 600;
    padding: 2rem 0 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 700;
    padding-top: 0;
  }
}
@media screen and (min-width: 1280px) {
  .hero__subtitle {
    font-size: 3rem;
    line-height: 3.25rem;
  }
}
.hero__sound-cloud {
  padding: 2rem 0;
  z-index: 1;
  width: calc(100% - 2rem);
  margin-left: 1rem;
}
@media screen and (min-width: 768px) {
  .hero__sound-cloud {
    width: calc(80% - 80px);
    margin-left: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__sound-cloud {
    width: calc(60% - 80px);
    margin-right: 2.5rem;
  }
}
.hero__sound-cloud-link {
  display: none;
}
.hero__flex-container {
  width: 100%;
  display: flex;
  justify-content: initial;
  align-items: initial;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .hero__flex-container {
    width: 70%;
  }
}
@media screen and (min-width: 1280px) {
  .hero__flex-container {
    width: calc(100% - 160px);
    margin-right: 5rem;
    margin-left: 5rem;
  }
}
.hero__flex-song-container {
  z-index: 1;
}
@media screen and (min-width: 1280px) {
  .hero__flex-song-container {
    display: flex;
    justify-content: initial;
    align-items: center;
    flex-direction: initial;
  }
}

.shows__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 1.5rem 0 1rem;
  margin-left: 1rem;
  padding-top: 1.25rem;
}
@media screen and (min-width: 768px) {
  .shows__title {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding: 3rem 0 1.5rem;
    margin-left: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows__title {
    margin-left: 7.5rem;
  }
}
.shows__wrapper {
  display: flex;
  justify-content: initial;
  align-items: initial;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .shows__wrapper {
    margin: 0 1rem 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows__wrapper {
    margin-left: 21.25rem;
    margin-right: 7.5rem;
  }
}

.show-card {
  border-bottom: 2px solid #E1E1E1;
}
@media screen and (min-width: 768px) {
  .show-card {
    display: flex;
    justify-content: space-between;
    align-items: initial;
    flex-direction: initial;
  }
}
.show-card__date {
  margin-left: 1rem;
  font-weight: 700;
  font-size: 0.875rem;
}
@media screen and (min-width: 768px) {
  .show-card__date {
    margin-left: calc(40px - 1rem);
  }
}
.show-card__subtitle {
  font-weight: 600;
  padding: 1rem 0 0.5rem;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-size: 0.813rem;
  color: #AFAFAF;
}
@media screen and (min-width: 768px) {
  .show-card__subtitle {
    padding-top: 0;
    padding-bottom: 2rem;
  }
}
.show-card__venue, .show-card__location {
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .show-card__venue, .show-card__location {
    margin-left: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .show-card__subtitle {
    visibility: hidden;
  }
}
@media screen and (min-width: 768px) {
  .show-card:first-child h3 {
    visibility: visible;
  }
}
@media screen and (min-width: 768px) {
  .show-card__flex-container {
    display: flex;
    justify-content: initial;
    align-items: initial;
    flex-direction: column;
    width: 25%;
  }
  .show-card__flex-container > * {
    /* inner content not alining properly, reset the margin on all */
    margin: 0;
  }
  .show-card__flex-container:first-child {
    /*  reset the first child with the right margin*/
    margin-left: calc(40px - 1rem);
  }
}
.show-card__btn {
  font-size: 0.938rem;
  font-weight: 600;
  width: calc(100% - 2rem);
  margin: 1rem;
  color: #FFFFFF;
  background-color: #323232;
  padding: 0.7rem;
  border-radius: 6px;
}
@media screen and (min-width: 768px) {
  .show-card__btn {
    font-size: 1rem;
    width: 25%;
    margin: 1.5rem;
  }
}
.show-card:hover {
  background-color: #FAFAFA;
}
.show-card:active {
  background-color: #E1E1E1;
}/*# sourceMappingURL=shows.css.map */