@use "./partials/global" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;
@use "./partials/variables" as *;



// hero section
.hero{
  height: fit-content;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;

  &__title{
    font-weight: 600;
    color: $secondary-alabaster-color;
    font-size: 18px;
    margin: 20px 1rem;
   
    
  }
  &__subtitle{
    z-index: 1;
    color: $primary-white-color;
    font-weight: 600;
    font-size: 25px;
    
  }

  &__sound-cloud{
   
    z-index: 1;
    opacity: 0.9;
    padding:1rem 1rem;
    

  }
  &__sound-cloud-link{
    display: none;
  }
}


.shows{
  &__title{
    
    @include section-title-mobile;
    margin-top: 40px;
    
  }

}



