@use "./partials/global" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;
@use "./partials/variables" as *;

// hero section
.hero {
  display: block;
  height: 30vh;
  @include tablet{
    height: 45vh;
  }
  @include desktop{
    @include flex(_,_,);
    height: 50vh;
  }
 
  &__title {
    font-weight: 600;
    color: $secondary-alabaster-color;
    font-size: 16px;
    margin-top: 1rem;
    @include tablet{
      @include section-title-tablet-desktop;
      font-size: 25px;
      font-weight: 600;
      margin-left: 40px;
      margin-top: 0rem;
    }
    @include desktop{
      padding-bottom: 0;
      padding: 0;
      margin-bottom: 0;
    }
  }
  &__subtitle {
    z-index: 1;
    color: $primary-white-color;
    font-weight: 600;
    font-size: 25px;
    @include tablet{
      @include section-subtitle-tablet-desktop;
      font-size: 40px;
      line-height: 48px;
      font-weight: 700;
      padding-top: 0rem;
    }
    @include desktop{
      font-size: 48px;
      line-height: 52px;
    }
  }

  // sound cloud
  &__sound-cloud {
    padding: 2rem 0;

    z-index: 1;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    @include tablet{
    width: calc(80% - 80px);
    margin-left: 40px;
    }
    @include desktop{
      
      width: calc(60% - 80px);
      margin-right: 40px;
    }
  }

  // to get ride of the floating links from sound cloud
  &__sound-cloud-link {
    display: none;
  }
  &__flex-container{
    width: 100%;
    @include flex(_,_,column);
    @include tablet{
      width: 70%;
    }
    @include desktop{
      width: calc(100% - 160px);
      margin-right:  80px;
      margin-left: 80px;
    }

  }
  &__flex-song-container{
    z-index: 1;
    @include desktop{
    @include flex(_,center,);
    }

  }
}


// main section-shows
.shows {
  &__title {
    @include section-title-mobile;
    padding-top: 20px;
    @include tablet{
      @include section-title-tablet-desktop
    }
    @include desktop{
      margin-left: 120px;
    }
    
  }
  &__wrapper {
    @include flex(_, _, column);

    @include tablet{
      margin: 0 1rem 2.5rem;
    }
    @include desktop{
      margin-left: 340px;
      margin-right: 120px;
    }
    
  }
}

.show-card {
  @include tablet{
    @include flex(space-between,_,);
    
  }
  &__date {
    margin-left: 1rem;
    font-weight: 700;
    font-size: 14px;
    @include tablet{
      margin-left: calc(40px - 1rem);
      
    }
  }
  border-bottom: 2px solid $secondary-mercury-color;
  &__subtitle {
    @include section-subtitle-mobile;
    font-size: 13px;
    color: $primary-silver-color;
    @include tablet{
      padding-top: 0;
      padding-bottom: 2rem;

    }
  }
  
  &__venue {
    font-weight: 600;
    @include tablet{
      margin-left: 24px;
      
    }
  }
  &__location {
    @extend .show-card__venue;
  }

  // to hide all subtitles
  &__subtitle{
    @include tablet{
      visibility: hidden
     
    }

  }
  // to display subtitles only on first show card
  &:first-child{

    @include tablet{
      h3 {
        visibility: visible;
      }
    }
  }
  

  &__flex-container{
    // margin-bottom: 2rem;
    @include tablet{
      &>*{/* inner content not alining properly, reset the margin on all */
        margin: 0;
      }
      &:first-child{/*  reset the first child with the right margin*/
        margin-left: calc(40px - 1rem);
        

      }
      @include flex(_,_,column);
      width: 25%;
     
     
      
    }
  }
  &__btn {
    font-size: 15px;
    font-weight: 600;
    width: calc(100% - 2rem);
    margin: 1rem;
    color: $primary-white-color;
    background-color: $primary-black-color;
    padding: 0.7rem;
    border-radius: 6px;
    @include tablet{
      font-size: 16px;
      width: 25%;
      margin: 1.5rem;
    }
  }
  &:hover {
    background-color: $secondary-alabaster-color;
  }
  &:active {
    background-color: $secondary-mercury-color;
  }
}



