@font-face {
  font-family: "avenir";
  src: url("../assets/font/alternative-files/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/font/alternative-files/AvenirNextLTPro-Bold.woff") format("woff"), url("../assets/font/alternative-files/AvenirNextLTProBold.ttf") format("TrueType");
  font-weight: 700;
}
@font-face {
  font-family: "avenir";
  src: url("../assets/font/alternative-files/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/font/alternative-files/AvenirNextLTPro-Demi.woff") format("woff"), url("../assets/font/alternative-files/AvenirNextLTProDemi.ttf") format("TrueType");
  font-weight: 600;
}
@font-face {
  font-family: "avenir";
  src: url("../assets/font/alternative-files/AvenirNextLTPro.ttf") format("TrueType");
  font-weight: 400;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "avenir";
}

h1,
h2, h3,
p {
  margin: 0 1rem;
}
@media screen and (min-width: 768px) {
  h1,
h2, h3,
p {
    margin: 0 2.5rem;
  }
}

.header {
  padding-top: 1rem;
  background-color: #323232;
  display: flex;
  justify-content: _;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .header {
    display: flex;
    justify-content: _;
    align-items: _;
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .header__logo {
    width: 7.5rem;
    height: 1.25rem;
    margin-left: 7.5rem;
  }
}
@media screen and (min-width: 768px) {
  .header__logo-image {
    margin-left: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .header__logo-image {
    margin-left: 0px;
  }
}
.header__logo-link {
  color: #FFFFFF;
  text-decoration: none;
}
.header__nav {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header__nav {
    width: 50%;
  }
}
@media screen and (min-width: 1280px) {
  .header__nav {
    width: 40%;
  }
}
.header__nav-list {
  margin: 0;
  list-style: none;
  font-weight: 600;
  line-height: 1.375rem;
  font-size: 0.875rem;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
@media screen and (min-width: 768px) {
  .header__nav-list {
    line-height: 2rem;
    font-size: 1.5rem;
  }
}
.header__nav-link {
  display: block;
  width: 50%;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  color: #E1E1E1;
}
.header__nav-link:hover {
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .header__nav-link {
    width: auto;
    padding: 1rem;
    font-size: 0.875rem;
  }
}
.header__nav--active, .header__nav-link:hover {
  font-weight: 700;
  color: #FFFFFF;
  border-bottom: 4px solid white;
  -webkit-text-decoration-color: #FFFFFF;
          text-decoration-color: #FFFFFF;
}

.hero {
  display: flex;
  height: 70vh;
  position: relative;
  background: url("../assets/images/hero-shows.jpg") 50% 50%/cover;
  /* to fit and center the background image on section*/
  background-repeat: no-repeat;
  display: flex;
  justify-content: _;
  align-items: center;
  flex-direction: _;
}
.hero__color-overlay {
  width: 100%;
  /*create equal div for color overlay*/
  height: 100%;
  background: #323232;
  opacity: 0.5;
  position: absolute;
  /*to position the div exactly on top */
  top: 0;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 80vh;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 80vh;
  }
}
.hero__title {
  line-height: 2rem;
  position: relative;
  font-weight: 700;
  font-size: 1.5rem;
  color: #FFFFFF;
  z-index: 1;
  margin: 0 1rem;
}
@media screen and (min-width: 768px) {
  .hero__title {
    line-height: 2.75rem;
    font-size: 2.25rem;
    margin: 0 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    margin: 0 7.5rem;
  }
}

.footer {
  position: relative;
  /*to make the footer logo move in relation to to footer*/
  padding-top: 1rem;
  background-color: #323232;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding-top: 2rem;
  }
}
.footer__title {
  font-weight: 400;
  line-height: 18px;
  font-size: 13px;
  font-size: 20px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .footer__title {
    font-weight: 400;
    line-height: 20px;
    font-size: 14px;
    font-size: 1.375rem;
    font-weight: 600;
  }
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: _;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 52%;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .footer__wrapper {
    width: 32%;
    margin: 0 80px;
  }
}
.footer__icon-container {
  width: 15%;
  margin: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: _;
  flex-direction: row;
}
@media screen and (min-width: 768px) {
  .footer__icon-container {
    width: 22%;
  }
}
@media screen and (min-width: 1280px) {
  .footer__icon-container {
    width: 25%;
  }
}
.footer__contacts-container {
  display: flex;
  justify-content: space-between;
  align-items: _;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__contacts-container {
    display: flex;
    justify-content: space-between;
    align-items: _;
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .footer__contacts-container {
    width: 60%;
    margin: 0 80px;
  }
}
.footer__contact {
  margin-bottom: 1.5rem;
}
.footer__contact-text {
  margin-bottom: 0.5rem;
  font-weight: 400;
  line-height: 18px;
  font-size: 13px;
}
.footer__copyright {
  margin-top: 40px;
  padding-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    font-weight: 400;
    line-height: 20px;
    font-size: 14px;
    margin-top: 0.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__copyright {
    padding-bottom: 1rem;
    margin-left: 7.5rem;
  }
}
.footer__logo {
  width: 5rem;
  height: auto;
  position: absolute;
  left: 1rem;
  bottom: 2.5rem;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    position: absolute;
    /*to make the footer logo move in relation to to footer*/
    left: 85%;
    top: 2.5rem;
  }
}

.hero {
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.hero__title {
  font-weight: 600;
  color: #FAFAFA;
  font-size: 18px;
  margin: 20px 1rem;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-family: "avenir";
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    padding: 48px 0 24px;
    margin-left: 40px;
    font-size: 25px;
    font-weight: 600;
    margin-left: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    width: 100%;
    padding-bottom: 0;
  }
}
.hero__subtitle {
  z-index: 1;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 36px;
}
@media screen and (min-width: 768px) {
  .hero__subtitle {
    font-family: "avenir";
    font-weight: 600;
    padding: 32px 0 1rem;
    font-size: 24px;
    line-height: 32px;
    font-size: 40px;
    font-weight: 700;
  }
}
@media screen and (min-width: 1280px) {
  .hero__subtitle {
    width: 40%;
  }
}
.hero__sound-cloud {
  padding: 2rem 0;
  z-index: 1;
  opacity: 0.9;
  width: calc(100% - 2rem);
  margin-left: 1rem;
}
@media screen and (min-width: 768px) {
  .hero__sound-cloud {
    width: calc(100% - 80px);
    margin-left: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__sound-cloud {
    width: 40%;
    align-self: flex-end;
  }
}
.hero__sound-cloud-link {
  display: none;
}
.hero__flex-container {
  width: 100%;
  display: flex;
  justify-content: _;
  align-items: _;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .hero__flex-container {
    width: 70%;
  }
}
@media screen and (min-width: 1280px) {
  .hero__flex-container {
    width: calc(100% - 160px);
    margin-right: 40px;
    margin-left: 80px;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    vertical-align: middle;
  }
}

.shows__title {
  font-family: "avenir";
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  padding: 24px 0 16px;
  margin-left: 16px;
  padding-top: 20px;
}
@media screen and (min-width: 768px) {
  .shows__title {
    font-family: "avenir";
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    padding: 48px 0 24px;
    margin-left: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .shows__title {
    margin-left: 120px;
  }
}
.shows__wrapper {
  display: flex;
  justify-content: _;
  align-items: _;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .shows__wrapper {
    margin: 0 1rem 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows__wrapper {
    margin-left: 340px;
    margin-right: 120px;
  }
}

.show-card {
  border-bottom: 2px solid #E1E1E1;
}
@media screen and (min-width: 768px) {
  .show-card {
    display: flex;
    justify-content: space-between;
    align-items: _;
    flex-direction: row;
  }
}
.show-card__date {
  margin-left: 1rem;
  font-weight: 700;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .show-card__date {
    margin-left: calc(40px - 1rem);
  }
}
.show-card__subtitle {
  font-family: "avenir";
  font-weight: 600;
  padding: 16px 0 8px;
  font-size: 14px;
  line-height: 22px;
  font-size: 13px;
  color: #AFAFAF;
}
@media screen and (min-width: 768px) {
  .show-card__subtitle {
    padding-top: 0;
    padding-bottom: 2rem;
  }
}
.show-card__venue, .show-card__location {
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .show-card__venue, .show-card__location {
    margin-left: 24px;
  }
}
@media screen and (min-width: 768px) {
  .show-card__subtitle {
    visibility: hidden;
  }
}
@media screen and (min-width: 768px) {
  .show-card:first-child h3 {
    visibility: visible;
  }
}
.show-card__flex-container {
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .show-card__flex-container {
    display: flex;
    justify-content: _;
    align-items: _;
    flex-direction: column;
    width: 25%;
  }
  .show-card__flex-container > * {
    /* inner content not alining properly, reset the margin on all */
    margin: 0;
  }
  .show-card__flex-container:first-child {
    /*  reset the first child with the right margin*/
    margin-left: calc(40px - 1rem);
  }
}
.show-card__btn {
  font-size: 15px;
  font-weight: 600;
  width: calc(100% - 2rem);
  margin: 1rem;
  color: #FFFFFF;
  background-color: #323232;
  padding: 0.7rem;
  border-radius: 6px;
}
@media screen and (min-width: 768px) {
  .show-card__btn {
    font-size: 16px;
    width: 25%;
    margin: 1.5rem;
  }
}
.show-card:hover {
  background-color: #FAFAFA;
}
.show-card:active {
  background-color: #E1E1E1;
}/*# sourceMappingURL=shows.css.map */